---
import BentoItems from "../components/BentoItems.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Artículos";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout pageTitle={pageTitle}>
  <section
    class={` w-full max-w-[1400px] 
  grid grid-cols-10 auto-rows-[30rem] gap-4
  mx-auto p-6 md:p-12 lg:p-20
`}
  >
    {
      allPosts.map((post) => (
        <BentoItems
          class="col-span-10 md:col-span-4"
          url={post.url}
          title={post.frontmatter.title}
          image = {post.frontmatter.image.url}
          description = {post.frontmatter.description}
        />
      ))
    }
  </section>
</Layout>
